<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Paga con Pago Efectivo</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
<!-- Core theme CSS (includes Bootstrap)-->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<link th:href="@{/css/blog.css}" rel="stylesheet" />
</head>


<body onload="generarCodigo()">
	<header th:replace="/Plantilla :: header"></header>


	<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
		<h1 class="display-4 fw-normal"></h1>
	</div>
<body>

	<main class="form-signin">
		<form th:action="@{/ventas/save}" method="post" th:object="${venta}" enctype="multipart/form-data">
			<div class="container text-center">
				<div class="card" style="width: 94rem;">
					<h1 class="h1 mb-3 fw-normal">¡Estas a punto de finalizar tu
						compra en BusseandoTours!</h1>
					<h1 class="h3 d-block mb-3 text-muted">Empresa: Busseando
						Tours</h1>
					<h1 class="h3 d-block mb-3 text-muted">Servicio: Paquete
						turistico</h1>
					<table>
						<tr>
							<th>Codigo de pago (CIP)</th>
							<td>Monto a pagar</td>
						</tr>
						<tr>
							<th id="codigo"></th>
							<td><span
						th:text="${reserva.nroPasajeros * reserva.Paquete.precioUnidad}"></span></td>
						</tr>

					</table>
					<br>
					<h1 class="h1 mb-3 fw-normal">Pagalo antes del sabado
						30/09/2023 - 11:59</h1>
					<div class="h1 mb-3 fw-normal">

						<span> <label>Compartir codigo CIP por SMS</label> <br><br></span> 
						<span> <input placeholder="Numero de telefono....." type="text" name="telf"></span> 
				</div>
				
					<input type="hidden" th:field="*{reserva}" id="Reserva"></input>
        			<input type="hidden" th:field="*{total}"  id="Total" readonly>
        			<input type="hidden" th:field="*{usuario}" id="usuarioId" />
        			<input type="hidden" th:field="*{documentoGenerado}" id="estado" />
        			<input type="hidden" th:field="*{correo}" id="usuarioEmail" />
        			
    				<div class="container mt-5">	

            			<h4><strong>Fecha:</strong>
            				<input type="date" th:field="*{fechaVenta}"  id="FechaVenta" readonly>
            			</h4>
            
            		<h4>
    			
        				<label class="m-2">
		            	<input type="radio" name="TipoComprobante" th:field="*{TipoComprobante}" value="BOLETA">
		            	BOLETA
		        		</label>
		        		<label class="m-2">
		           	 	<input type="radio" name="TipoComprobante" th:field="*{TipoComprobante}" value="FACTURA">
		            	FACTURA
		        		</label>
    			</h4>

            	<div class="card-footer bg-success text-center">
                <button type="submit" class="btn btn-outline-light me-2 btn-lg">PAGAR</button>
           		</div>
						</div>
				</div>
				
			</div>
		</form>
	</main>


	<script>
		function generarCodigo() {
			var codigo = Math.floor(Math.random() * 1000000000) + 1; // Genera un número aleatorio del 1 al 10000
			document.getElementById("codigo").innerHTML = codigo;
		}
	</script>
	<script>
		var today = new Date();
		var dd = String(today.getDate()).padStart(2, '0');
		var mm = String(today.getMonth() + 1).padStart(2, '0'); //Enero es 0
		var yyyy = today.getFullYear();
		var formattedDate = yyyy + '-' + mm + '-' + dd;
		document.getElementById("FechaVenta").value = formattedDate;
	</script>	

<script>
  var usuarioId = "[[${#authentication.principal.id}]]";
  var usuarioEmail = "[[${#authentication.principal.username}]]";
  var reservaInput = document.getElementById("Reserva");
  var Total = document.getElementById("Total");
  var estado = document.getElementById("estado");
  
  reservaInput.value = "[[${reserva.idReserva}]]";
  Total.value = "[[${reserva.nroPasajeros}]]" * "[[${reserva.Paquete.precioUnidad}]]";
  document.getElementById("usuarioId").value = usuarioId;
  estado.value = 0;
  document.getElementById("usuarioEmail").value = usuarioEmail;
</script>
	
</body>


<!-- Bootstrap core JS-->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}"></script>




<!-- 	Pie de pagina -->
<footer th:replace="/Plantilla :: footer"></footer>



</body>
</html>